body {
  width: 450px;
}

img {
  margin-top: 25px;
  box-shadow: 5px 5px 5px grey;
}

.container {
  width: 450px;
  background-color: rgb(70, 97, 185);
}

.info {
  text-align: center;
  margin: 15px;
}

.button {
  text-align: center;
}

.contact {
  margin-top: 25px;
  margin-bottom: 45px;
  color: white;
  text-align: center;
}
